.comparison-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comparison-container h2 {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
}

.comparison-container p{
   margin-top: 20px;
   text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.no-products{
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.comparison-table {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.comparison-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  width: 280px;
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.image-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.image-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.remove-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  transition: transform 0.4s ease;
}

.remove-icon:hover {
  transform: rotate(360deg);
  background-color: #333;
  color: #fff;
  border: 1px solid white;
}

.name-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.name-price-row h3 {
  font-size: 16px;
  flex: 1;
  margin: 0;
  font-weight: 500;
}

.name-price-row .price {
  color: #f5b400;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
}

.rating-review-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 4px;
}

.stars {
  display: flex;
}

.compare-rating{
   color: #f5b400;
   margin-left: 5px;
}

.review-summary {
  font-size: 14px;
  color: #444;
 
}
