.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 2px solid #aca9a9;
  border-top: 2px solid #f8b71d;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}